.title {
  margin-top: 20px;
  overflow: hidden;
  justify-items: center;
  .item1 {
    margin-left: 10px;
    font-size: 59px;
    line-height: 60px;
    font-weight: bolder;
    flex: 2;
    order: 1;
  }
  p {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #a1a0a8;
  }
  button {
    margin-top: 30px;
  }
  img {
    margin-right: 10px;
    flex: 1;
    width: 500px;
    height: 330px;
    order: 2;
  }
}

@media (min-width: 768px){
  .title {
    display: flex;
    justify-content: space-between;
  }
}